[Unit]
Description=pve-microvm early patch application
Before=pvedaemon.service pve-guests.service
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/share/pve-microvm/pve-microvm-patch apply
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
